$body-bg: whitesmoke;

.channels {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  grid-gap: 20px;
}

.channel {
  background: white;
  &__title {
    font-size: 1.5rem;
  }
  &__description {
    font-size: 1.25rem;
  }
}

.post {
  border-top: solid 2px whitesmoke;
  &__title {
    font-size: 1.25rem;
  }
}
